
.pattern {
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -80px;
    margin-left:-50px;   
    background-color: black;
    width: 30px;
    height: 150px;
    border-radius: 0%

}

.pattern2 {
    position:absolute;
    top:50%;
    left:50%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: black;
    width: 190px;
    height: 30px;
    border-radius: 0%


}

.pattern3 {
    position: absolute;
    top: 21%;
    right: 40%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: black;
    width: 30px;
    height: 248px;
    border-radius: 0%
    
}

.pattern4 {
    position: absolute;
    bottom: 40%;
    left: 43%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: black;
    width: 131px;
    height: 30px;
    border-radius: 0%
    
}

.pattern5 {
    position: absolute;
    bottom: 40%;
    left: 43%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: black;
    width: 30px;
    height: 80px;
    border-radius: 0%
}

.pattern6 {
    position: absolute;
    bottom: 40%;
    left: 43%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: black;
    width: 30px;
    height: 80px;
    border-radius: 0%
}

.pattern7 {
    position: absolute;
    top: 21%;
    right: 40%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: black;
    width: 180px;
    height: 30px;
    border-radius: 0%
    
}

.pattern9 {
    position: absolute;
    bottom: 50%;
    left: 26%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: black;
    width: 275px;
    height: 30px;
    border-radius: 0%
}

.pattern10 {
    position:absolute;
    top: 50%;
    left:50%;
    margin-top: -90px;
    margin-left:-60px;   
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%

}

.pattern11 {
    position:absolute;
    top: 48%;
    right: 39%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius:100%


}

.pattern12 {
    position: absolute;
    top: 19%;
    right: 39.5%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%
    
}

.pattern13 {
    position: absolute;
    bottom: 39%;
    left: 42.5%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%
    
}

.pattern14 {
    position: absolute;
    bottom: 39%;
    right: 50.5%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%
}


.pattern15 {
    position: absolute;
    top: 55%;
    left: 42.5%;
    margin-top: -80px;
    margin-left:-50px;    
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 100%
}

body {
    opacity: 80%;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    background-image: url(http://9to5animations.com/wp-content/uploads/2016/03/mario-gif-animated.gif);
    color: #b4eef4;
