body {
	background-image: url(bed.jpg);
	margin: 0px;
	background-repeat: no-repeat;
}


#textwrap {
	color: white;
	font-family: futura;
	font-weight: medium;
	font-size: 20px;
	position: absolute;
	width: 720px;
	left: 350px;
	top: 150px;

}

.choice1 {
	background-color: white;
    border: none;
    color: black;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: futura;
    font-weight: medium;
    top: 480px;
    right: 760px;
    position: fixed;


}

.choice2 {
	background-color: white;
    border: none;
    color: black;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: futura;
    font-weight: medium;
    top: 480px;
    right: 520px;
    position: fixed;


}