body {
  font-family: "avenir";
  font-size: 20px;
  background-color: black;
  margin: 0px;

}

h1 {
 font-family: "market deco";
 font-size: 60px;
  color:white;
  position: absolute;
  right: 30px;
  left: 30px;
}

p {
    font-size: 14px;
    font-style: italic;
}

/*slidemenu */
.slidemenu {
    width:60%;
    position: absolute;
    bottom: 5%;
    left: 20%;
    margin:0 auto
}

.slidemenu:after {
    content:"";
    display:table;
    clear:both
}

.slidemenu label {
    width:23%;
    float:left;
    box-sizing:border-box;
    text-align:center;
    padding:20px;
    opacity:.5;
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    transition:all .15s ease-out;
    font-size:12px;
    font-weight:600
}

.slidemenu label i {
    height:80px;
    width:30px;
    display:block;
    margin:0 auto 10px
}

.slidemenu label:hover {
    cursor:pointer;
    opacity:.7
}

.slidemenu .slider {
    background:#ccc;
    height:20px;
    border-radius:100px;
    clear:both
}

.slidemenu .slider .bar {
    background:#333;
    height:20px;
    width: 20%;
    border-radius:100px;
    margin-left:0;
    -webkit-transition:all .15s ease-in-out;
    -moz-transition:all .15s ease-in-out;
    transition:all .15s ease-in-out
}

.slidemenu input[type="radio"] {
    display:none
}

.slidemenu .menu-one:checked ~ .slider .bar {
    margin-left: 4%
}

.slidemenu .menu-two:checked ~ .slider .bar {
    margin-left: 28%
}

.slidemenu .menu-three:checked ~ .slider .bar {
    margin-left: 50%

}

.slidemenu .menu-four:checked ~ .slider .bar {
    margin-left: 73%

}

.slidemenu .menu-one:checked + label {
    opacity:1
}

.slidemenu .menu-two:checked + label {
    opacity:1
}

.slidemenu .menu-three:checked + label {
    opacity:1
}

.slidemenu .menu-four:checked + label {
    opacity:1
}

.slidemenu .menu-five:checked + label {
    opacity:1
}

@media screen and (max-width: 780px) {
.slidemenu {
    width:90%
}
}

@media screen and (max-width: 780px) and (max-width: 500px) {
.slidemenu label span {
    display:none
}
}

@media screen and (max-width: 780px) and (max-width: 500px) {
.slidemenu label {
    padding-bottom:0
}
}

#myplayer {
    position: absolute;
    top: 150px;
    right: 40%;
    left: 40%;
}

#holder {
    position: absolute;
    background-color: yellow;
    right: 0px;
    padding: 10px;
    height: 800px;
    display: none;
}

#audioHolder {
    cursor: pointer;
}

#audioHolder:hover { 
    color: blue;

}
