body {
	background-color: #81c88e;
	margin: 0px;

}

#menu {
	margin-top: 20px;

}
a {
	margin-right: 80px;

}
.title {
	font-family: avenir-heavy;
	font-size: 200px;
	

}

h2 {
	font-size: 50px;
	font-style: italic;
}

a:link {
    color: white;
    text-decoration: none
    
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none


}

/* mouse over link */
a:hover {
    color: yellow;
    text-decoration: none


}

/* selected link */
a:active {
    color: yellow;
    text-decoration: none

}

h3 {
	font-family: roboto;
	font-size: 20px;
}

.year{ 
	font-family: roboto;
	font-size: 250px;
	font-style: italic;
	margin-top: 10px;
	margin-left: 100px;
	color: #306f76;
 }

 #movie {
 	font-family: roboto;
 	font-size: 50px;
 	margin-left: 800px;
 	margin-top: 200px;
 }



















